.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}

.loadingImg {
  width: 100%;
}

.statusText {
  font-size: 200px;
  text-align: center;
}

.statusTextOff {
  @extend .statusText;
  color: #8799a7;
}

.loadingText {
  font-size: 100px;
}
